// ==============================
// Custom style
// 自定义样式
// ==============================
.galleryContainer {
    display: flex;
    flex-grow: 1;
}

.galleryItem {
    flex: 1;
}

.row {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
}

.row > * {
    flex: 1;
    max-width: 50%;
}

.col {
    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
}

.col > .glide, .col > .lightgallery {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) { 
    .galleryContainer {
        flex-direction: column;
    }
    .row {
        flex-direction: column;
        align-content: flex-start;
    }
    .row > * {
        margin: 10px auto;
        max-width: 90%;
        margin-left: 20px;
    }
}

.lightgallery > img {
    display: block;
    margin: 0 auto;
}

footer {
    padding: 0;
}

// Make "custom pages" (i.e. not blog posts) wider
@media only screen and (max-width: 1280px) {
    .page.single.special {
        width: 80%;
    }
}


// CSS for projentry shortcode

.proj_entry {
    display: block;
    margin: 10px 20px;
}

.proj_entry .lightgallery_custom {
    width: 200px;
}

.proj_img > .lightgallery_custom > a:first-child img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.proj_name {
    margin-bottom: 1rem;
    display: block;
}

.proj_desc {
    display: block;
    text-align: justify;
}

@media screen and (min-width: 950px) {
    .proj_entry .lightgallery_custom {
        float: left;
        margin-right: 2rem;
    }
}
